<div class="search-result">
  {{model.name}}<br/>
  <div class="search-details">
      <span>
    
	  <i class="fa fa-mobile-phone"></i> {{model.phone}}<br/>
	  {{model.city}}, {{model.state}}
    
      </span>
  </div>
</div>
