@import "../../vendor/assets/stylesheets/ember-invoicing.scss";
@import "../../vendor/assets/stylesheets/semantic-ui-divider.scss";

html,body{
  background-color: #e2e2e2;
}

.app-container{
  background-color: #fff;
}

.blank-slate{
  font-size:1.5em;
  font-weight:bold;
  background-color:#ffffcc;
  padding:20px;
  border-top:1px solid #ff6900;
  border-bottom:1px solid #ff6900;

}

.text-right{
  text-align:right;
}
.loading-message{
  font-size: 3em;
  font-weight:bold;
  text-align:center;
  padding-top:100px;
  padding-bottom:100px;
}
.back-nav{
  font-size:1.5em;
  font-weight:bold;
}
