<h3>Filter</h3>
{{#link-to invoices-route (query-params status="drafts")}}Drafts{{/link-to}}
{{#link-to invoices-route (query-params status="unpaid")}}Unpaid{{/link-to}}
{{#link-to invoices-route (query-params status="paid")}}Paid{{/link-to}}
