{{status}}
<table class="table table-condensed">
	<thead>
		<tr>
			<th>
				Invoice #
			</th>
			<th>
				Customer
			</th>
			<th>
				Amount
			</th>
			<th>
				Date
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		{{#each invoices as |invoice|}}
			<tr>
				<td>{{invoice.number}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		{{/each}}
	</tbody>
</table>
