<div class="status-filter">
  <h4>Filter by Status</h4>
  {{#link-to invoices-route (query-params status="Drafts")}}<a href="#" class="invoice-filter-border">Draft</a>{{/link-to}}
  {{#link-to invoices-route (query-params status="Unpaid")}}<a href="#" class="invoice-filter-border">Unpaid</a>{{/link-to}}
  {{#link-to invoices-route (query-params status="Paid")}}Paid{{/link-to}}
</div>
<div class="date-filter">
  <h4 class="date-filter-title">Filter by Date</h4>
    <div class="">
      {{ember-invoicing-date-picker placeholder="Start Date" value=startDate onSelection=(action 'setStartDate')}}
    </div>
    <div class="ui horizontal divider">
    To
    </div>
    <div class="">
      {{ember-invoicing-date-picker placeholder="End Date" value=endDate onSelection=(action 'setEndDate')}}
    </div>
</div>
